MyBaseCSharp/obj/Debug/net8.0/refint/
MyBaseCSharp/bin/
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.csproj.CoreCompileInputs.cache
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.csproj.FileListAbsolute.txt
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.dll
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.genruntimeconfig.cache
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.pdb
MyBaseCSharp/obj/Debug/net8.0/apphost
MyBaseCSharp/obj/Debug/net8.0/ref/
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.AssemblyInfo.cs
MyBaseCSharp/obj/Debug/net8.0/MyBaseCSharp.AssemblyInfoInputs.cache

